<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Component &mdash; XC 3.0 documentation</title>
    
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../../',
        VERSION:     '3.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../../_static/doctools.js"></script>
    <link rel="top" title="XC 3.0 documentation" href="../../../../index.html" />
    <link rel="up" title="Utils" href="../../../utils.html" />
    <link rel="next" title="Predefined solutions" href="../../../../solution/python_modules/predef_sol.html" />
    <link rel="prev" title="Loaders" href="../../preprocessor/loaders/loaders.html" /> 
  </head>
  <body role="document">
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../../../../solution/python_modules/predef_sol.html" title="Predefined solutions"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../../preprocessor/loaders/loaders.html" title="Loaders"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">XC 3.0 documentation</a> &raquo;</li>
          <li class="nav-item nav-item-1"><a href="../../../utils.html" accesskey="U">Utils</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="module-xc">
<span id="component"></span><h1>Component<a class="headerlink" href="#module-xc" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="xc.DomainComponent">
<em class="property">class </em><code class="descclassname">xc.</code><code class="descname">DomainComponent</code><a class="headerlink" href="#xc.DomainComponent" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <code class="xref py py-class docutils literal"><span class="pre">xc.TaggedObject</span></code></p>
<dl class="attribute">
<dt id="xc.DomainComponent.getDomain">
<code class="descname">getDomain</code><a class="headerlink" href="#xc.DomainComponent.getDomain" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns a reference to the domain.</p>
</dd></dl>

<dl class="attribute">
<dt id="xc.DomainComponent.getIdx">
<code class="descname">getIdx</code><a class="headerlink" href="#xc.DomainComponent.getIdx" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns an index for use in VTK arrays.</p>
</dd></dl>

</dd></dl>

<dl class="class">
<dt id="xc.ContinuaReprComponent">
<em class="property">class </em><code class="descclassname">xc.</code><code class="descname">ContinuaReprComponent</code><a class="headerlink" href="#xc.ContinuaReprComponent" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference internal" href="#xc.DomainComponent" title="xc.DomainComponent"><code class="xref py py-class docutils literal"><span class="pre">xc.DomainComponent</span></code></a></p>
<dl class="attribute">
<dt id="xc.ContinuaReprComponent.alive">
<code class="descname">alive</code><a class="headerlink" href="#xc.ContinuaReprComponent.alive" title="Permalink to this definition">¶</a></dt>
<dd><p>activates the domain component.</p>
</dd></dl>

<dl class="attribute">
<dt id="xc.ContinuaReprComponent.isAlive">
<code class="descname">isAlive</code><a class="headerlink" href="#xc.ContinuaReprComponent.isAlive" title="Permalink to this definition">¶</a></dt>
<dd><p>true if domain component is not active.</p>
</dd></dl>

<dl class="attribute">
<dt id="xc.ContinuaReprComponent.isDead">
<code class="descname">isDead</code><a class="headerlink" href="#xc.ContinuaReprComponent.isDead" title="Permalink to this definition">¶</a></dt>
<dd><p>true if domain component is not active.</p>
</dd></dl>

<dl class="attribute">
<dt id="xc.ContinuaReprComponent.kill">
<code class="descname">kill</code><a class="headerlink" href="#xc.ContinuaReprComponent.kill" title="Permalink to this definition">¶</a></dt>
<dd><p>deactivates the domain component.</p>
</dd></dl>

</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../../preprocessor/loaders/loaders.html"
                        title="previous chapter">Loaders</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../../../../solution/python_modules/predef_sol.html"
                        title="next chapter">Predefined solutions</a></p>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/preprocessor/cpp_classes/domain/component/component.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../../../../solution/python_modules/predef_sol.html" title="Predefined solutions"
             >next</a> |</li>
        <li class="right" >
          <a href="../../preprocessor/loaders/loaders.html" title="Loaders"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">XC 3.0 documentation</a> &raquo;</li>
          <li class="nav-item nav-item-1"><a href="../../../utils.html" >Utils</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &copy; Copyright 2017, Luis Pérez Tato (LCPT) &amp; Ana Ortega (AO_O).
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.3.6.
    </div>
  </body>
</html>